*{
font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    background-color: #1f2937;
}

.heading {
    color: #F9FAF8;
    font-size: 24px;
}

ul{
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
}

.head-link{
    color: #E5E7EB;
    font-size: 18px;
}

a:link, a:visited {
   text-decoration: none; 
   }


